body {
  background-color: black;
  color: white;
}

.navbar-brand span {
  color: orange;
}

.oge-wrapper {
  top: 50px;/*header height*/
  bottom: 0px; /*footer height*/
  background-color: #333333;/* near black*/
}

section#binding {
  margin: 5%;
}

li.active .media {
  /*box-shadow: 1px 2px 15px orange;*/
  border: 5px solid orange;
}

.media {
  border: 5px solid transparent;/*keep space*/
  margin-top: 15px;
  margin-bottom: 15px;
}

.media img {
  background-color: white;
  height: 155px;/*images come with differnt sizes*/
}

/*http://joelsaupe.com/programming/multiple-line-ellipsis-css/*/
.item-title {
  display: -webkit-box;
  max-width: 100%;
  height: 43px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.active .item-title {
  color: black;
  background-color: white;
}

