<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="lib/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="lib/smarttv.css" />
  <link rel="stylesheet" type="text/css" href="app.css" />
  <!--
  <script type="text/javascript" src="http://localhost:8082/console.io.js"></script>
  -->
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand" id="header"></div>
      </div>
    </div>
  </nav>

  <section id="content">
  </section>

  <script type="text/html" id="headerTmpl">
    <span>Orangee Cloud Player</span>
  </script>

  <script type="text/html" id="htmlTmpl">
    <div class="oge-wrapper">
      <div class="oge-scroller">
        <h1><%= html %></h1>
      </div>
    </div>
  </script>

  <script type="text/html" id="opmlTmpl">
    <div class="oge-wrapper container-fluid">
      <div class="oge-scroller row">
        <ul class="list-unstyled"></ul>
      </div>
    </div>
  </script>

  <script type="text/html" id="opmlItemTmpl">
    <li class="col-xs-6 col-sm-3 col-md-2">
      <div class="media" id="<%= cid %>">
        <% if (typeof _type != "undefined" && _type.indexOf('video') == 0) { %>
          <a href="#video/<%= encodeURIComponent(_url) %>">
        <% } else { %>
          <a href="#album/<%= encodeURIComponent(_url) %>">
        <% } %>
          <img class="img-responsive lazy" src="images/placeholder.png" data-original="<%= _img %>" />
        </a>
        <div class="item-title"><%= _title %></div>
      </div>
    </li>
  </script>

  <script type="text/html" id="rssItemTmpl">
    <li class="col-xs-6 col-sm-3 col-md-2">
      <div class="media" id="<%= cid %>">
        <% if (typeof enclosure != "undefined") { %>
        <a href="#video/<%= encodeURIComponent(enclosure._url) %>">
        <% } else { %>
        <a href="#html/<%= cid %>">
        <% } %>
          <img class="img-responsive lazy" src="images/placeholder.png" data-original="<%= thumbnail_url %>" />
        </a> 
        <div class="item-title"><%= title %></div>
      </div>
    </li>
  </script>

  <script type="text/html" id="csvItemTmpl">
    <li class="col-xs-6 col-sm-3 col-md-2">
      <div class="media" id="<%= cid %>">
        <a href="#video/<%= encodeURIComponent(_url) %>">
          <img class="img-responsive lazy" src="images/placeholder.png" data-original="<%= _img %>" />
        </a>
        <div class="item-title"><%= _title %></div>
      </div>
    </li>
  </script>

  <script type="text/html" id="bindingTmpl">
    <section id='binding'>
      <h1 class='text-center'>Link your account</h1>
      <h2>Before you can use this channel, you must link the channel to your account.
      Go to <a target="_blank" href="http://orangee.tv/link">http://orangee.tv/link</a>, log into your account, and enter the following code:</h2>
      <h1 class='text-center'><strong><%= code %></strong></h1>
    </section>
  </script>

  <script type="text/html" id="errorTmpl">
    <div style="text-align:center;margin-top:180px">
    <h1>NETWORK ERROR</h1>
    <h1>Please press RETURN to retry</h1>
    </div>
  </script>

  <!-- An id is required for video tag to use youtube. object is used for youtube -->
  <script type="text/html" id="playerTmpl">
    <div class="oge-fullscreenvideo">
      <video class="video-js vjs-default-skin vjs-big-play-centered" poster="http://www.wallpapersdesign.net/wallpapers/2014/11/Orange-juice-800x1280.jpg" id='myvideo'></video>
    </div>
  </script>

  <script type="text/javascript" src="lib/jquery.min.js"></script>
  <script type="text/javascript" src="lib/underscore-min.js"></script>
  <script type="text/javascript" src="lib/backbone-min.js"></script>
  <script type="text/javascript" src="lib/smarttv.js"></script>
  <script type="text/javascript" src="models.js"></script>
  <script type="text/javascript" src="views.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="version.js"></script>
  <script type="text/javascript" src="plugin.js"></script>
  <script type="text/javascript" src="lib/airbrake-shim.js" data-airbrake-project-id="bc441eecb4d3f08dbff57f013cd200e4" data-airbrake-project-key="bc441eecb4d3f08dbff57f013cd200e4" data-airbrake-environment-name="production" data-airbrake-host="http://errbittest.herokuapp.com"></script>
  <script>
    $(document).ready(function() {
      app.start();
    });
  </script>
</body>
</html>
